@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

@import url(http://allfont.ru/allfont.css?fonts=open-sans);

$mainColor: #f16d7f;

$borderColor: #e6e6e6;

$otherMainColor: #ef5b70;

$textColor: #6f6e6e;